/* custom property 
:root {
	--global-color-1: #800000;
}*/
html{
	background-image: linear-gradient(to left, white 0%, #facd8a 100%);
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 90%;
	background-color: white;
	margin: 15px auto;
	padding: 15px 1.5em;
	border: 1px solid black;
	border-radius: 25px;
	box-shadow: 5px 5px 0 0;
}
a:focus, a:hover {
	font-style: italic;
	color: orangered;
    border: 4px blue;
    border-style: dotted double;
}
header {
	padding-bottom: 1em;
    border-bottom: 2px solid #800000;
}
header h1 {
	font-size: 175%;
	color: maroon;
	text-indent: 30px;
}
header h2 {
	font-size: 130%;
	color: #800000;
	text-indent: 30px;
}
header img {
	float: left;
	margin-left: 2em;
}
.shadow {
	/*text-shadow: 2px 2px 2px var(--global-color-1);*/
	text-shadow: 2px 2px 2px rgb(128, 0, 0);
}
article {
    width: 60%;
	float: left;
    column-count: 2;
    column-rule: 2px dotted maroon;    
    column-gap: 2em;
	margin-top: 1em;
	margin-left: 2em;
}
article h3{
    column-span: all;
}

article img {
    float: left;
    margin-left: 2em;    

}
aside{
    width: 30%;
    float: right;
	padding: 20px;
    background-color: #ffebc6;
	margin-top: 1em;
	margin-right: 2em;
}
aside ol {
	line-height: 1.5em;
}

footer {
	clear: both;
	border-top: 2px solid maroon;
}
footer p.copyright {
	text-align: center;
	font-size: 80%;
}
