html, body {
margin: 1em;
height: 100%;
font-size: 100%;
}

* {
font-family: Verdana, Arial, Helvetica, sans-serif;
}

table.first {
    border: 2px solid blue;
    border-collapse: separate;
    padding: 0.5em;
}
table.first, td.first {
    border: 2px solid blue;
    border-collapse: separate;
}

table.second {
    border: 2px solid purple;
    border-collapse: collapse;    
    caption-side: bottom;
    padding: 0.5em;
}
table.second, td.second {
    border: 2px solid purple;
    border-collapse: collapse;
}

table.third {    
    border-collapse: collapse;
}
table.third thead {
    background-color: lightsalmon;
}
table.third th, table.third td {
    padding: 0.5em;
    vertical-align: top;    
}
table.third thead tr:nth-child(2), table.third tr:last-child {     
    border-bottom: 1.5px solid orangered;
}

/*---------------------------------------------------------------*/
@media only screen and (max-width: 425px) {
    th, td {
        display: block;
    }
    thead, td.number {
        display: none;
        padding: 0;
    }

    
}