html, body {
margin: 1em;
height: 100%;
font-size: 100%;
}

* {
font-family: Verdana, Arial, Helvetica, sans-serif;
}

table.first {
    border: 2px solid blue;
    border-collapse: separate;
    padding: 0.7em;
}
table.first, td.first {
    border: 2px solid blue;
    border-collapse: separate;
}

table.second {
    border: 2px solid purple;
    border-collapse: collapse;    
    caption-side: bottom;
    padding: 0.7em
}
table.second, td.second {
    border: 2px solid purple;
    border-collapse: collapse;
}

table.third  {
    border-collapse: collapse;
    vertical-align: top;
    text-align: left;
    padding: 0.7em;
}
table.third tr, table.third td {
    border: 1px solid orangered;
    border-collapse: collapse;
}

/*---------------------------------------------------------------*/
@media only screen and (max-width: 425px) {
    th, td {
        display: block;
    }
    thead, td.number {
        display: none;
        padding: 0;
    }

    
}