html, body {
margin: 1em;
height: 100%;
font-size: 100%;
}

* {
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.first-tbl {
    border: 2px solid darkolivegreen;
    border-collapse: separate;
    caption-side: bottom;
}
.first-tbltr, th, td {
    border: 2px solid darkolivegreen;
    border-collapse: separate;
}


/*---------------------------------------------------------------*/
@media only screen and (max-width: 700px) {
    th, td {
        display: block;
    }
    thead {
        display: none;
    }
}